# Database Configuration
DATABASE_URL=postgres://user:password@localhost:5432/lembrario?sslmode=disable
DATABASE_PORT=5432
DATABASE_USERNAME=user
DATABASE_PASSWORD=password

# Redis Configuration
REDIS_ADDR=localhost:6379

# Server Configuration
PORT=8080
